<div [style.background]="couleurFond">
  <span>{{titre}} </span>
  couleurFond:<select [(ngModel)]='couleurFond'
               (change)="riseEvent($event)" >
    <!--
      <option>lightgrey</option>
      <option>red</option>
      <option>green</option>
      <option>blue</option>
    -->
    <option *ngFor="let c of listeCouleurs">{{c}}</option>
  </select>
  - 
  categorie: <select [(ngModel)]="categorieProduit" 
            (change)="onCategorieChange()">
    <option>papeterie</option>
    <option>imprimante</option>
    <option>ordinateur</option>
  </select> 
  <!--
  - compteur = {{commonService.compteur}}
  -->
  - compteur = <span [style.font-weight]="enGras ? 'bold' : 'normal' " >
    {{copieLocaleCompteur}} </span>
</div>

